/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.helpText {
  text-align: center;
  color: #4663bb;
}

.toggleHelp {
  color: #4663bb;
}

.toggleHelp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.subtitle {
  font-style: italic;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

input[type=text], select {
    width: 40%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button {
  background-color: steelblue;
    color: white;
    padding: 8px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
  background-color: darkblue;
}


code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}
